body {
    font-family: 'Playfair Display', serif;
}

section {
    /* height: 500px; */
    background-color: white;
    /* border: solid black 1px; */
}

.hero {
    /* background-color: #1c1d25; */
    /* background-color: black; */
    height: 100vh;
    color: whitesmoke;
    font-size: 40px;
    background-image: url("/src/images/wave-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    /* height: 500px; */
    background-color: #3DD1E7;
    color: white;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
    font-weight: 900;

}

h2 {
    font-size: 50px;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
    margin: 5px;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 35px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 300px;
    height: 60px;
    /* border-radius: 32.5px; */
    background-color: #3DD1E7;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #3DD1E7;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.button1 {
    background-color: #4bdc50; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #f98406;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button3 {
    background-color: #ffee00; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button4 {
    background-color: #ac57ce; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button5 {
    background-color: #02d5ff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.social {
    padding-bottom: 200px;
    height: 50px;
    width: 50px;
    margin: 20px;
}

.link-color {
    color: white;
}

.logo {
    height: 120px;
    margin: 15px;  
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    /* height: 500px; */
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.sub-section-alternative1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}
.headshot {
    width: 400px;
    height: 250px;

    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
}

.headshot:hover {
    --_i: 10%;
    filter: grayscale(0);
}

.headshot-container {
    display: flex;
    align-items: center;
}

.about-info {
    font-size: 20px;
    width: 550px;
}

.portfolio-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(169, 167, 167);
    margin: 10px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.portfolio-img {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.link {
   text-decoration: none;
   color: #3DD1E7;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px){
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 35px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0px;
        background-color: #3DD1E7;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #3DD1E7;
    }

    .logo {
        display: none;
    }
}
