body {
    font-family: 'Poppins', sans-serif;
}

section {
    /* height: 500px; */
    background-color: white;
    /* border: solid black 1px; */
}

.hero {
    /* background-color: #1c1d25; */
    background-color: black;
    height: 100vh;
    color: whitesmoke;
    font-size: 40px;
}

footer {
    /* height: 500px; */
    background-color: gray;
    color: white;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
    margin: 5px;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 35px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 300px;
    height: 60px;
    /* border-radius: 32.5px; */
    background-color: #3DD1E7;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #3DD1E7;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.social {
    padding-bottom: 200px;
    height: 50px;
    width: 50px;
    margin: 20px;
}

.link-color {
    color: white;
}

.logo {
    height: 120px;
    margin: 15px;  
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.headshot {
    width: 400px;
    height: 250px;

    --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
    --m:
      left   var(--_i,0%) top    var(--_g),
      bottom var(--_i,0%) left   var(--_g),
      top    var(--_i,0%) right  var(--_g),
      right  var(--_i,0%) bottom var(--_g);
    -webkit-mask: var(--m);
            mask: var(--m);
    filter: grayscale();
    transition: .3s linear;
    cursor: pointer;
}



.headshot:hover {
    --_i: 10%;
    filter: grayscale(0);
}

.headshot-container {
    display: flex;
    align-items: center;
}

.about-info {
    font-size: 20px;
    width: 550px;
}

.portfolio-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(169, 167, 167);
    margin: 10px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;
}

.portfolio-img {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.link {
   text-decoration: none;
   color: #3DD1E7;
}

a {
    text-decoration: none;
    color: white;
}
